@font-face {
  font-family: Madera;
  src: url(/assets/fonts/MaderaWebforYelloRegular.woff2) format("woff2"),
    url(/assets/fonts/MaderaWebforYelloRegular.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Madera;
  src: url(/assets/fonts/MaderaWebforYellomedium.woff2) format("woff2"),
    url(/assets/fonts/MaderaWebforYellomedium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Madera;
  src: url(/assets/fonts/MaderaWebforYelloBold.woff2) format("woff2"),
    url(/assets/fonts/MaderaWebforYelloBold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Madera";
}
